* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #3d3a39;
    --border-color:#EE88AF;
    --Title-color: #F3de09;
    --font-color: #81c1cb;
}
.section-title{
    font-size: 65px;
    border-bottom: 5px solid var(--font-color);
}
body {
    color:var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}
header {
    padding: 20px 35px;
    background-color:var(--border-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

 header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color:var(--font-color);
}


header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}


.Bio {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    padding: 5px; 
    line-height: 1.3;
    text-align: center;
}
.my-bio{
    margin: 20px;
    background: var(--Title-color);
    flex: 1;
}
.bio-img {
   width: 100%;
   position: relative;
}

.my-bio h3 {
    font-size: 40px;
}

.my-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
.my-bio p {
    font-size: 17px;

}

.primary-border {
    border-color: var(--border-color);
}
.secondary-border{
    color: var(--Title-color);
}

.project-title{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    padding: 5px; 
    line-height: 1.3;
    text-align: center;
    font-size: 50px;
    background-color: var(--Title-color);
}

.my-projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-1, .project-2 {
    margin: 20px;
    flex: 1;
    background: var(--nav);
    color: var(--font);
}

.project-1 p a img {
    width: 100%;
    height: auto;
}

.project-2 p a img {
    width: 100%;
    height: auto;
    max-height: 462.69px;
}

.project-info{
    background-color:var(--Title-color) ;
    text-align: center;
}

footer {
    background: var(--border-color);
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}
footer h2 {
 
    font-size: 15px;
    margin: 0;
}
footer div {
    line-height: 1.5;
}

.contact{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    padding: 5px; 
    line-height: 1.3;
    text-align: center;
    background-color: var(--Title-color);
}

.contact p {
    font-size: 25px;
    padding: 10px 10px;
}

.contact h3{
    font-size: 45px;
}


@media screen and (max-width: 980px){
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
     .section-title{
        font-size: 50px;
        
     }

}